:root {
    --red: hsl(0, 100%, 74%); 
    --green: hsl(154, 59%, 51%);
    --green-hover: hsla(154, 59%, 51%, 0.692);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --shadow: hsla(249, 10%, 26%, 0.25);
    --grayish-blue: hsl(246, 25%, 77%);
    --white: hsl(0, 100%, 100%)
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    width: 100vw;
    height: auto;
    font: 16px'Poppins', sans-serif;
    background: url(/images/bg-intro-mobile.png) var(--red);
    box-sizing: border-box;
}

/*Mobile first - 375px*/

main {
    width: 100vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
    margin-top: 5rem;
}

.description__section {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.description__title {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 140%;
}

.description__paragraph {
    font-size: 0.95rem;
    font-weight: 400;
    margin: 1rem 0 2.5rem 0;
}

.form__section {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

button, input {
    font-family: 'poppins';
}

.form__button {
    width: 100%;
    height: 4.5rem;
    background: var(--blue);
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    box-shadow: 0 6px 1px var(--shadow);
    padding: 0 4rem;
    line-height: 150%;
    margin-bottom: 1rem;
}

.form__button span {
    font-weight: 700;
}

.form__box {
    width: 100%;
    height: auto;
    background-color: var(--white);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 7px 1px var(--shadow);
}

input {
    width: 80%;
    height: 2.7rem;
    border: 1px solid var(--grayish-blue);
    border-radius: 5px;
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 0.7rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

input:first-of-type {
    margin-top: 1rem;
}

.form__box-button {
    width: 85%;
    height: 2.7rem;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background: var(--green);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    box-shadow: inset 0 -3px 1px var(--shadow);
}

.form__footer-msg {
    width: 80%;
    height: auto;
    font-size: 0.7rem;
    color: var(--grayish-blue);
    margin: 0.5rem auto 0 auto;
    padding-bottom: 1rem;
}

.form__footer-msg a {
    color: var(--red);
    font-weight: 600;
}


.attribution { 
    font-size: 0.7rem; 
    text-align: center; 
    margin-top: 1rem;
    color: var(--white);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.form__box--error {
    width: 85%;
    font-size: 0.7rem;
    margin: 0 auto;
    color: var(--red);
    text-align: right;
    position: relative;
    top: -15px;
    font-style: italic;
}

/*Desktop*/

@media screen and (min-width: 1024px){
    main {
        display: flex;
    }

    .description__section {
        width: 45%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    
    .description__title {
        width: 90%;
        font-size: 2rem;
        line-height: 130%;
    }
    
    .description__paragraph {
        width: 90%;
        font-size: 0.8rem;
    }

    .form__section {
        width: 45%;
    }

    .form__button {
        width: 95%;
        height: 3rem;
        font-size: 0.8rem;
    }

    .form__box {
        width: 95%;
    }

    input {
        padding-left: 1.5rem;
    }
    
    input:first-of-type {
        margin-top: 2rem;
    }

    .form__box-button {
        width: 86%;
    }

    .form__box-button:hover {
        background: var(--green-hover);
        cursor: pointer;
    }
    
    .form__footer-msg {
        font-size: 0.5rem;
        margin: 0.5rem auto 1rem auto;
    }

    .attribution { 
        font-size: 1rem; 
    }
}

@media screen and (min-width: 1440px){    
    .description__title {
        width: 80%;
        font-size: 2.5rem;
    }
    
    .description__paragraph {
        width: 80%;
        font-size: 1rem;
    }

    .form__button {
        width: 85%;
        height: 4rem;
        font-size: 0.9rem;
    }

    .form__box {
        width: 85%;
    }

    input {
        height: 3rem;
        font-size: 0.9rem;
        padding-left: 2rem;
        margin-bottom: 1.2rem;
    }
    
    input:first-of-type {
        margin-top: 3rem;
    }

    .form__box-button {
        width: 85%;
        height: 3rem;
        font-size: 1rem;
    }
    
    .form__footer-msg {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 1920px){
    .description__title {
        font-size: 3.5rem;
    }
    
    .description__paragraph {
        font-size: 1.2rem;
    }

    .form__button {
        width: 80%;
        height: 5rem;
        font-size: 1rem;
    }

    .form__box {
        width: 80%;
    }

    input {
        height: 3.5rem;
        font-size: 1rem;
        padding-left: 2rem;
        margin-bottom: 1.2rem;
    }
    
    input:first-of-type {
        margin-top: 3.5rem;
    }

    .form__box-button {
        height: 3.5rem;
        font-size: 1.2rem;
    }
    
    .form__footer-msg {
        font-size: 0.9rem;
    }
}