:root {
    --red: hsl(0, 100%, 74%); 
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: auto;
    font: 16px 'Poppins', sans-serif;
    background: url(/images/bg-intro-mobile.png) var(--red);
}

main {
    width: 100vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
    color: white;
}




.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }